#options button {
    background-color: lightgray;
    font: 20px Roboto;
    width: 49.6%;
    margin: 0;
    border: none;
    height: 50px;
}
#options button:focus {
    background-color: #2B99FA;
}

h3  {
    padding-bottom: 5px;
}
.divBox {
    min-height: 50px;
    width: 86%;
    margin-left: 3%;
    font-size: 15px;
    line-height: 20px;
    border: 1px solid lightgray;
    background-color: white;
    border-radius: 5px;
    
}
#question {
    padding: 20px;
}
#titleDesc  {
    min-height: 150px;
}
#question input[type=submit], #survey input[type=submit]  {
    height: 40px;
    width: 150px;
    float: right;
    border: none;
    background-color: #2B9FFA;
    font-family: Roboto;
    font-size: 18px;
    
}
#question input[type=submit]:hover, #survey input[type=submit]:hover {
    background-color: #2381C8;
}
#survey {
    display: none;
}
#survey input[name='time'], #survey select {
    border-radius: 5px;
    font-size: 20px;
    line-height: 30px;
    height: 35px;
    border: 1px solid gray;
}
#survey input[name='time'] {
    width: 50px;
    margin-right: 30px;
}
#survey select {
    width: 100px;
}